<div class="profile-container">
<h2>Meu Perfil</h2>
<p>Nome: {{currentUser.name}}</p>
<p>E-mail: {{currentUser.email}}</p>

<h3>Minhas Ideias</h3>
{{#if ideas.length}}
  <ul>
    {{#each ideas}}
      <li>
        <a href="/ideas/{{this._id}}"><strong>{{this.title}}</strong></a>
        -
        {{this.category}}
      </li>
    {{/each}}
  </ul>
{{else}}
  <p>Você ainda não criou ideias.</p>
{{/if}}
</div>
