<div class="profile-container">
  <h2>{{idea.title}}</h2>
  <p>Categoria: {{idea.category}}</p>
  <p>{{idea.description}}</p>
  <p>Autor: {{idea.author.name}} ({{idea.author.email}})</p>
  <p>Votos: {{voteCount}}</p>

  {{#if currentUser}}
    {{#if userVoted}}
      <form action="/votes/unvote" method="post" , class="inline-form">
        <input type="hidden" name="_csrf" value="{{csrfToken}}" />
        <input type="hidden" name="ideaId" value="{{idea._id}}" />
        <button type="submit">Remover voto</button>
      </form>
    {{else}}
      <form action="/votes/vote" method="post">
        <input type="hidden" name="_csrf" value="{{csrfToken}}" />
        <input type="hidden" name="ideaId" value="{{idea._id}}" />
        <button type="submit">Votar</button>
      </form>
    {{/if}}

    {{#if isAuthor}}
      <div style="margin-top: 1rem;">
        <form
          action="/ideas/edit/{{idea._id}}"
          method="get"
          class="inline-form"
        >
          <button type="submit" class="button edit">Editar</button>
        </form>

        <form action="/ideas/delete" method="post" class="inline-form">
          <input type="hidden" name="_csrf" value="{{csrfToken}}" />
          <input type="hidden" name="id" value="{{idea._id}}" />
          <button type="submit" class="delete">Excluir</button>
        </form>
      </div>
    {{/if}}

  {{else}}
    <p><a href="/login">Entre</a> para votar.</p>
  {{/if}}
</div>