<h2>Todas as Ideias (ordenadas por votos)</h2>
{{#if ideas.length}}
  <ul>
    {{#each ideas}}
      <li>
        <a class="idea-link" href="/ideas/{{this._id}}">
          <strong style="color:#0D2787 ;">{{this.title}}</strong>
          -
          {{this.category}}
          - Votos:
          {{this.voteCount}}
          <p>{{this.description}}</p>
        </a>
      </li>
    {{/each}}
  </ul>
{{else}}
  <p>Nenhuma ideia ainda. Seja o primeiro a criar!</p>
{{/if}}